body {
  margin: 20px 0% 20px 10%;
  padding: 0;
  background: #fff;
  color: #3E4B5B;
  background-color: #f2f4f8;
  font-family: Arial, Helvetica, sans-serif;
}

.font-narrow {
  font-family: "Arial Narrow", Helvetica, sans-serif;
}

h1, h2 {
  padding: 10px;
  text-align: center
}
h1 {
  font-size: 1.5em;
}

table.info th, table.info th {
  padding: 2px;
}
table.info th {
  text-align: right;
}

.hidden {
  display: none;
}

.profile {
  /* border: 2px solid #ddd; */
  padding-left: 10px;
  margin: 20px 5px 5px auto;
  border-radius: 6px;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.profile-title {
  text-align: left;
  border-bottom: 1px solid #cccccc6b;
  margin: 0px;
  margin: 6px 50px 0px 0px;
}

.control {
  /* border: 1px solid #ddd; */
  border: 1px solid rgba(83, 101, 140, 0.08);
  padding: 8px 10px 10px 10px;
  margin: 0px 0px 10px 15px;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.controls_label {
  text-align: left;
}

.profile-metadata {
  padding: 10px 10px 0px 10px;
  width: 100%;
}

.resource-title {
  margin: 0px 0px 0px 2.5%;
}

.control-title code, .resource-title code {
  font-size: larger;
}

.control-title {
  text-align: left;
  /* border-bottom: 1px solid #ccc; */
  margin: 0px;
  margin: 0px 50px 12px 0px;
}

.control-metadata .status div, .result-metadata .status div {
  width: fit-content;
  padding: 0px 2px;
}

.status-passed {
  color: white;
  background-color: darkgreen;
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
}
.status-failed {
  color: white;
  background-color: red;
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
}
.status-waived {
  color: white;
  background-color: grey;
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
}
.status-skipped {
  color: white;
  background-color: #969341;
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
}

#overall-status {
  padding-right: 5px;
}

#overall-status-value {
  font-size: 20px;
}

.control-metadata {
  margin: 0 0 0 0;
}

.result-metadata {
  margin: 5px 0 10px 2%;
  border-top: 1px solid rgba(83, 101, 140, 0.08);
  width: 95%
}

.selector-panel {
  position: fixed;
  z-index: 100;
  background-color: #ecc;
  padding: 0px 2px 5px 2px;
  top: 0;
  margin-left: -10%;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.selector-checkbox-span {
  display: block;
}

#selector-instructions {
  font-weight: bold;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

@media print {
  body {
    margin: 0px 0px 0px 0px;
    background-color: white;
  }
  .selector-panel {
    visibility: hidden;
  }
  #h1-report-id {
    display: block;
  }
}

.inspec-summary {
  /* border: 3px solid #ccc; */
  padding: 10px;
  margin: 5px 5px 15px auto;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.inspec-summary h4 {
  margin-bottom: 0px;
}

.inspec-summary #platform, .inspec-summary #statistics {
  display: inline;
}

.inspec-summary #statistics {
  padding-right: 100px;
}

#statistics .date td {
  width: 180px;
}

#statistics-label, #platform-label {
  text-align: left;
  margin-block-start: 0.3em;
}

#report-time {
  visibility: hidden;   /* Initially until we convert it to the browser timezone */
}

#inspec-version {
  display: block;
  text-align: center;
  font-style: italic;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  font-size: 14px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* .tooltip:hover:after {
  visibility: visible;
  transition: opacity  0s linear 1s;
} */

.thl {
  width: 4em;
}

/* thl classes in result classes */
.result .thl {
  width: 7em;
  font-size: 14px;
}

.result {
  margin: 0 0 20px 25px;
}

.controls-label {
  color: blue;
  display: inline;
  margin-right: 20px;
}

.controls-header {
  padding: 20px 0px 10px 0px;
  font-weight: bold;
}

.results-header {
  padding: 20px 0px 10px 0px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.roundy {
  border-radius: 10px;
  padding: 3px 7px 3px 7px;
  margin-left: 20px;
}

.roundy-result {
  border-radius: 10px;
  padding: 3px 7px 3px 7px;
  margin-left: 20px;

}

.line-stats-results {
  font-size: 10px;
}

.roundy-w {
  padding: 3px 4px 3px 4px;
}

.controls-label:hover {
  cursor: pointer;
}

.results-label {
  color: blue;
  display: inline;
  margin: 20px 0px 15px 10px;
}
.results-label:hover {
  cursor: pointer;
}

#results-dropdown {
  border-radius: 7px;
  font-weight: bold;
  color: #3E4B5B;
}
