<div class="selector-panel font-narrow">
  <p id="selector-instructions">Display controls:</p>
  <span class="selector-checkbox-span">
    <input class="selector-checkbox" id="failed-checkbox" type="checkbox" checked="checked"/><label for="failed-checkbox">Failed (<%= report_extras['sums']['failed'] %>)</label>
  </span>
  <span class="selector-checkbox-span">
    <input class="selector-checkbox" id="passed-checkbox" type="checkbox" checked="checked"/><label for="passed-checkbox">Passed (<%= report_extras['sums']['passed'] %>)</label>
  </span>
  <span class="selector-checkbox-span">
    <input class="selector-checkbox" id="skipped-checkbox" type="checkbox" checked="checked"/><label for="skipped-checkbox">Skipped (<%= report_extras['sums']['skipped'] %>)</label>
  </span>
  <span class="selector-checkbox-span">
    <input class="selector-checkbox" id="waived-checkbox" type="checkbox" checked="checked"/><label for="waived-checkbox">Waived (<%= report_extras['sums']['waived'] %>)</label>
  </span>
  <p id="selector-instructions">Display profile:</p>
  <span class="profile-selector-checkbox-span">
    <input class="profile-selector-checkbox" id="child-profile-checkbox" type="checkbox" /><label for="child-profile-checkbox">Dependencies</label>
  </span>
</div>
